#
#	File: .gitattributes
#	Copyright: MLworkshop
#	Author: Msild
#

# Set default behavior to automatically normalize line endings.
* text=auto

# Image files are treated as binary by default.
*.jpg   binary
*.png   binary
*.gif   binary
